spring:
  application:
    name: spring-opentelemetry-sample

management:
  endpoints:
    web:
      exposure:
        include:
        - health
        - prometheus
  opentelemetry:
    tracing:
      export:
        otlp:
          endpoint: http://localhost:4318/v1/traces
  otlp:
    metrics:
      export:
        enabled: false
  tracing:
    sampling:
      probability: 1.0
